.postImage {
    width: 96px;
    height: 96px;
    float: left; 
    margin: 0px 14px 14px 0px
}

.pageTop--margin {
    height: 96px;
    width: 100%;
    max-width: 100%
}

.containerTitle {
    color: #4fc3f7;
    font-size: 19px
}

.card-inner {
    display: inline-block;
    width: 48%;
    width: -webkit-calc(50% - 28px);
    box-sizing: border-box;
    margin: 14px;
    max-height: 148px;
    overflow: hidden
}

.card-inner:hover {
    border: 1px solid #4fc3f7;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 300ms ease-in-out;
    box-shadow:  0 10px 6px -6px #F1F1F1;
}

.card-inner .card-block {
    height: 96px ;
    overflow: hidden;
    padding: 7px
}

.card-inner .card-footer {
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #7f7f7f
}

.card-inner .card-footer button { 
    font-size: 12px;
    color: #7f7f7f;
    border: 1px solid #7f7f7f;
}

.card-inner .card-footer button:hover { 
    font-size: 12px;
    border: 1px solid #f58282;
    color: #f58282;
}

.card-header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    font-size: 16px
}

.card-header .left-bar {
    display: flex
}

.card-title {
    font-size: 18px;
    color: black;
    margin: 0px 0px 7px 0px 
}

.card p {
    font-size: 14px;
    color: #7a7a7a
}

.card-block {
    padding: 14px
}

.card-header ul {
    list-style-type: none;
}

.card-header li {
    display: inline-block;
    font-size: 14px;
    margin-left: 14px
}

.addNew--post {
    display: none
}

@media (max-width: 768px ) {

    .card-inner {
        width: 100%;
        width: -webkit-calc( 100% - 28px);
    }

    .card-title {
        font-size: 14px;
    }

    .card-text{
        display: none;
    }
}